* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  height: 100%;
}

.page__links {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.review__input,
.review__textarea,
.review__button-add {
  padding: 10px 15px;
  border-radius: 8px;
}

.review__button-add:hover {
  background-color: antiquewhite;
}

.product-box {
  background-color: beige;
  border-radius: 8px;
  padding: 16px;
}

.product {
  display: flex;
  gap: 16px;
}

.product__name {
  font-weight: 600;
}

/* .product__reviews {} */

.product__revievs_hide {
  display: none;
}